/* Main Section Layout */
#contact {
  position: relative;
  width: 100%;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  gap: 130px;

  align-items: center;
  background-color: #000000;
  overflow: hidden;
}


/* Content Container (Layered above grid and massive text) */
.contact-container {
  padding-top: 30px;
  position: relative;
  z-index: 10;
  text-align: center;

}

/* Typography */
.contact-heading {
  font-family: var(--font-primary);
  font-weight: 500;
  color: #ffffff;
  font-size: 58px;
  font-variation-settings: 'opsz' 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact-body {
  display: flex;
  gap: 8%;
  max-width: 85%
}


.premium-card-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.01) 100%);
  padding: 2rem 11rem 3.5rem 5rem;
  margin: 0;
  overflow: hidden;
}

.container-left-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;



  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}


.container-bg-number {
  position: absolute;
  right: 0.5rem;
  bottom: -1.5rem;
  font-size: 9.5rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.050);
  pointer-events: none;
  user-select: none;
  z-index: 1;
}


.container-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  height: 100%;
  background: transparent;
}


.quote-content {

  font-family: system-ui, -apple-system, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eyebrow {
  color: #ff0000;
  font-size: 24px;
  font-family: var(--font-header);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.quote {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
}

.quote strong {
  background-color: #ffffff;
  padding: 0px 10px;
  color: #000000;
  font-weight: 700;
}

.email-phone-info {
  display: flex;
  align-items: center;

  font-size: 36px;
  font-weight: 300;
  color: rgb(255, 255, 255);

  gap: 10px;
  letter-spacing: -0.01em;
  flex-direction: row;
}

.phone-email {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: 'Orticalinear';
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.4);
}



.contact-divider-horizental {
  width: 50px;
  height: 5px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  margin: 80px 15px;
  display: inline-block;
  pointer-events: none;
}

.contact-divider-vartical {
  width: 5px;
  height: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  margin: 0 30px;
  display: inline-block;
  pointer-events: none;
}




.premium-card-container:hover .contact-divider-horizental,

.premium-card-container:hover .container-left-line,
.premium-card-container:hover .contact-divider-vartical {
  background: rgb(255, 255, 255);
}

.premium-card-container:hover .container-bg-number,
.premium-card-container:hover .phone-email {
  color: rgb(255, 255, 255);
}


.fancy-button-cv {
  display: none;
}




/* Responsive Adjustments */
@media (max-width: 768px) {

  #contact {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: 50px 24px;
  }

  .contact-body {
    max-width: 100%;
  }

  .premium-card-container {
    padding: 1rem 0rem 6rem 1rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .primary-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary {
    width: 100%;
    max-width: 250px;
  }

  .container-left-line {
    width: 2.5px;
  }

  .email-phone-info {
    justify-content: flex-end;
  }

  .quote {
    font-size: 22px;
    text-align: justify;
  }

  .quote strong {
    line-height: 1.6;
  }

  .contact-divider-horizental {
    width: 20px;
    height: 3px;
    margin: 30px 0px;
  }

  .phone-email {
    font-size: 16px;
    align-items: flex-start;
  }

  .FancyButtonProps-desktop {
    display: none;
   
  }

  .fancy-button-cv {
    display: flex; margin: 60px 0px -60px;
  }


}